name: Build

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */3 * * *" # Every 3 hours

jobs:
  latest_release:
    # Don't run on private repo unless it is a PR or manual run
    if: (github.repository == 'invertase/firestore-ios-sdk-frameworks' && github.event_name == 'schedule') || github.event_name == 'workflow_dispatch' || github.event_name == 'pull_request'

    name: "Latest Release"
    timeout-minutes: 120
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v4
      - name: GIT Setup
        run: |
          git fetch --tags
          git config --global user.name 'Invertase Publisher'
          git config --global user.email 'oss@invertase.io'
          git remote set-url origin git@github.com:$GITHUB_REPOSITORY
      - uses: webfactory/ssh-agent@v0.9.1
        if: ${{ github.repository == 'invertase/firestore-ios-sdk-frameworks' }}
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - name: Set Github Token Securely
        if: ${{ github.repository == 'invertase/firestore-ios-sdk-frameworks' }}
        run: echo "GITHUB_TOKEN=${{ secrets.GH_TOKEN }}" >> $GITHUB_ENV
      - uses: dart-lang/setup-dart@v1
      - run: cd ./.github/workflows/scripts && dart pub get
      - name: Process Latest Version
        env:
          COCOAPODS_TRUNK_TOKEN: ${{ secrets.COCOAPODS_TRUNK_TOKEN }}
        run: |
          dart ./.github/workflows/scripts/framework-controller.dart
      - name: Report Failure Status
        uses: slackapi/slack-github-action@v2
        if: failure()
        with:
          webhook: ${{ secrets.SLACK_WEBHOOK_URL }}
          webhook-type: incoming-webhook
          payload: |
            text: "*[firebase-ios-sdk-frameworks](https://github.com/invertase/firestore-ios-sdk-frameworks/actions) build failure:* ${process.env.LATEST_FIREBASE_VERSION} ${{ job.status }}"
